
<!--搜索栏-->
<%- include('search_tab/search_tab.ejs')%>

<!--分类导航-->
<%- include('class_tab/class_tab.ejs')%>



<!--商品列表tab-->

<%- include('goods_list/list_tab.ejs')%>

<!--商品列表-->

<%- include('goods_list/list_contain.ejs')%>


<!--底部导航-->
<footer class="bottom_tabbar">

    <div class="tab_box"></div>

    <div class="bottom_tabbar_contain hkbstore_alignment_center ">
        <a href="store_homepage.html" class="current_page">
            <div class="tabbar_icon">
                <img src="../images/icons/icon_homepage_grey.png">
                <img src="../images/icons/icon_homepage_orange.png">
            </div>
            <p>首页</p>
        </a>
        <a href="classification.html" class="current_page  hkb_tab_on">
            <div class="tabbar_icon">
                <img src="../images/icons/icon_classification_grey.png">
                <img src="../images/icons/icon_classification_orange.png">
            </div>
            <p>分类</p>
        </a>
        <a href="hkb_cart.html" class="current_page">
            <div class="tabbar_icon">
                <img src="../images/icons/icon_shoppingcart_grey.png">
                <img src="../images/icons/icon_shoppingcart_orange.png">
            </div>
            <p>购物车</p>
        </a>
        <a href="hkbstore_mine.html" class="current_page">
            <div class="tabbar_icon">
                <img src="../images/icons/icon_mine_grey.png">
                <img src="../images/icons/icon_mine_orange.png">
            </div>
            <p>我的</p>
        </a>
    </div>
</footer>



<!--下拉框-->
<div id="search_prompt">

    <%- include('search_results_prompt/search_results_prompt_food.ejs')%>





</div>
